<div class="row">
  <mdb-breadcrumb class="crumb">
  <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="blue-text">Speakers</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">Bluetooth Speakers</mdb-breadcrumb-item>
</mdb-breadcrumb>
<div class="card"  *ngIf="item$ | async as item">
  <div class="row">
    <aside class="col-sm-5 border-right img-fluid">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div> <a href="#"><img src="{{ item.imageURL }}" style="align-self: center; padding: 15px; width: 390px" alt="image"></a></div>
        </div> <!-- slider-product.// -->
      </article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-7">
      <article class="card-body p-5">
        <h3 class="title mb-3">{{ item.name }}</h3>

        <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">IN </span><span class="num">{{ item.price }}</span>
	</span>
        </p> <!-- price-detail-wrap .// -->
        <dl class="item-property">
          <dt>Description</dt>
          <dd><p>{{ item.title }}</p></dd>
        </dl>
        <dl class="param param-feature">
          <dt>Model#</dt>
          <dd>12345611</dd>
        </dl>  <!-- item-property-hor .// -->
        <dl class="param param-feature">
          <dt>Product ID and Domain</dt>
          <dd>{{ item.id }} {{ item.domain }}</dd>
        </dl>  <!-- item-property-hor .// -->
        <dl class="param param-feature">
          <dt>Creation Date</dt>
          <dd>{{ item.createdAt }}</dd>
        </dl>  <!-- item-property-hor .// -->
        <dl class="param param-feature">
          <dt>Color</dt>
          <dd>Black and white</dd>
        </dl>  <!-- item-property-hor .// -->
        <dl class="param param-feature">
          <dt>Delivery</dt>
          <dd>Russia, USA, and Europe</dd>
        </dl>  <!-- item-property-hor .// -->

        <hr>
        <div class="row">
          <div class="col-sm-5">
            <dl class="param param-inline">
              <dt>Quantity: </dt>
              <dd>
                <label>
                  <input type="number">
                </label>
              </dd>
            </dl>  <!-- item-property .// -->
          </div> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
        <a href="#" class="btn btn-lg btn-primary text-uppercase" style="margin-right: 10px"> Buy now </a>
        <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
      </article> <!-- card-body.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
  <div class="col-xs-9">
    <div style="width:100%;border-top:1px solid silver">
      <p style="padding:15px;">
        <small>
          Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection, this phone stores precious photos and video and lets you upload them to a cloud or social network at blinding-fast speed. With a 17-hour operating life from one charge, this phone allows you keep in touch even on the go.

          With its built-in photo editor, the Galaxy S4 allows you to edit photos with the touch of a finger, eliminating extraneous background items. Usable with most carriers, this smartphone is the perfect companion for work or entertainment.
        </small>
      </p>
      <small>
        <ul>
          <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
          <li>Available on GSM, AT T, T-Mobile and other carriers</li>
          <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
          <li>MicroUSB and USB connectivity</li>
          <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
          <li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
          <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
          <li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
          <li>Features 16 GB memory and 2 GB RAM</li>
          <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
          <li>17 hours of talk time, 350 hours standby time on one charge</li>
          <li>Available in white or black</li>
          <li>Model I337</li>
          <li>Package includes phone, charger, battery and user manual</li>
          <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
        </ul>
      </small>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading pointerCursor" (click)="isPanel1Hidden = !isPanel1Hidden">
      <h3 class="panel-title">Review  Scores</h3>
    </div>
    <div class="panel-body" [hidden]="isPanel1Hidden">
      <span class="heading">User Rating</span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <p>4.2 average based on {{ item.reviewCount }} reviews.</p>
      <span> Last Review Date:{{ item.latestReviewDate.toLocaleDateString() }}</span>
      <hr class="hr">
      <div class="row">
      <div class="top-score col-xs-12 col-sm-4 col-lg-4 col-xl-4" *ngFor="let sub of item.topScores">
        <span style="font-weight: bold;">{{ sub.topic }}</span>
        <div class="item html">
          <span class="label-item"> {{ sub.score }}</span>
          <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
            <g>
              <title>Layer 1</title>
              <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none"/>
            </g>
          </svg>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading pointerCursor" (click)="isPanel2Hidden = !isPanel2Hidden">
      <h3 class="panel-title">Panel Head</h3>
    </div>
    <div class="panel-body" [hidden]="isPanel2Hidden">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading pointerCursor" (click)="isPanel3Hidden = !isPanel3Hidden">
      <h3 class="panel-title">Panel Head</h3>
    </div>
    <div class="panel-body" [hidden]="isPanel3Hidden">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

</div> <!-- card.// -->
</div>
